@font-face {
    font-display: swap;
    font-family: 'Space Mono';
    src: url(../fonts/Space_Mono/SpaceMono-Regular.ttf);
}
@font-face {
    font-display: swap;
    font-family: 'Lexend Deca';
    src: url(../fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf);
}